body {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: center;
  background-color: black;
}

.half-circle {
  width: 900px;
	height: 450px;
  top: -450px;
  left: -450px;
	border-bottom: 3px solid rgba(255,0,0,.3);
	border-top-left-radius: 600px;
  border-top-right-radius: 600px;
	position: relative;
	overflow: hidden;
  transform-origin: 450px 450px;
  transform: rotate(160deg);
}

.half-circle .sector {
  position: absolute;
  transform-origin: 100% 100%;
  /*background: linear-gradient(10deg, 
    rgba(5, 162, 185, 0.8) 0%, 
    rgba(0, 0, 0, 0.02) 70%,
    rgba(0, 0, 0, 0) 100%
  );*/
  width: 2000px;
  height: 2000px;
  left: 50%;
  top: 100%;
  
  margin-top: -2000px;
  margin-left: -2000px;
  overflow: hidden;
}

.half-circle .sector.active {
  border: 3px solid rgba(255,0,0,.3);
  background-color: rgba(255,0,0,.3);
}

.half-circle .sector-0 { transform: rotate(calc(180deg / 15 * 0)) skew(calc(90deg - (180deg / 15))); }
.half-circle .sector-1 { transform: rotate(calc(180deg / 15 * 1)) skew(calc(90deg - (180deg / 15))); }
.half-circle .sector-2 { transform: rotate(calc(180deg / 15 * 2)) skew(calc(90deg - (180deg / 15))); }
.half-circle .sector-3 { transform: rotate(calc(180deg / 15 * 3)) skew(calc(90deg - (180deg / 15))); }
.half-circle .sector-4 { transform: rotate(calc(180deg / 15 * 4)) skew(calc(90deg - (180deg / 15))); }
.half-circle .sector-5 { transform: rotate(calc(180deg / 15 * 5)) skew(calc(90deg - (180deg / 15))); }
.half-circle .sector-6 { transform: rotate(calc(180deg / 15 * 6)) skew(calc(90deg - (180deg / 15))); }
.half-circle .sector-7 { transform: rotate(calc(180deg / 15 * 7)) skew(calc(90deg - (180deg / 15))); }
.half-circle .sector-8 { transform: rotate(calc(180deg / 15 * 8)) skew(calc(90deg - (180deg / 15))); }
.half-circle .sector-9 { transform: rotate(calc(180deg / 15 * 9)) skew(calc(90deg - (180deg / 15))); }
.half-circle .sector-10 { transform: rotate(calc(180deg / 15 * 10)) skew(calc(90deg - (180deg / 15))); }
.half-circle .sector-11 { transform: rotate(calc(180deg / 15 * 11)) skew(calc(90deg - (180deg / 15))); }
.half-circle .sector-12 { transform: rotate(calc(180deg / 15 * 12)) skew(calc(90deg - (180deg / 15))); }
.half-circle .sector-13 { transform: rotate(calc(180deg / 15 * 13)) skew(calc(90deg - (180deg / 15))); }
.half-circle .sector-14 { transform: rotate(calc(180deg / 15 * 14)) skew(calc(90deg - (180deg / 15))); }


.sector.sector-line {
  /* transform: rotate(calc(180deg / 15 * 0)) skew(calc(90deg - (180deg / 15))); */
  /*transform: rotate(calc(180deg / 15 * 1));*/

  
  background: linear-gradient( 
    45deg, rgba(5, 162, 185, 0.8) 0%, rgba(0, 0, 0, 0.02) 90%, rgba(0, 0, 0, 0) 100% );
  animation: rotatesectorline 5s infinite;
  /* background: linear-gradient( 
    90deg, rgba(5, 162, 185, 0.8) 0%, rgba(0, 0, 0, 0.02) 90%, rgba(0, 0, 0, 0) 100% );
  transform: rotate(calc(180deg / 15 * 11)) skew(calc(90deg - (180deg / 15))); */
}

@keyframes rotatesectorline {
  0% {
    transform: rotate(calc(180deg / 6 * 0)) skew(calc(90deg - (180deg / 6)));
  }
  50% {
    transform: rotate(calc(180deg / 6 * 5)) skew(calc(90deg - (180deg / 6)));
  }
  100% {
    transform: rotate(calc(180deg / 6 * 0)) skew(calc(90deg - (180deg / 6)));
  }
}